.container-fluid {
    max-width: 100%;
    margin: 2%;
}

.principal-image {
    margin: 2%;
}

.card-author {
    z-index: 999999;
    position: absolute;
    color: white;
    bottom: 0px;
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.card-id {
    z-index: 999999;
    position: absolute;
    color: white;
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.card-body {
    min-height: 300px;
    min-width: 100%;
    margin: 5px;
}

.card {    
    border: solid 0px;
    border-radius: 0px;
    flex: 0 1 24%;
    padding: 0px;
    margin: 0px;
}

.cards {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-auto-rows: auto; */
    grid-gap: 1rem;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

div.card:hover img.card{
    background-color: #00D664;
    width: 10px;
    height: 20px;
    content: url("assets/img/logo-white.png");
    transform: scale(.4);
}





/* .card-body {
    min-height: 30%;
    min-width: 30%;
    margin-right: 2%;
} */